body {
    padding : 2em;
}

table {
    border-collapse : collapse;
    border-top : 1px solid #ddd;
    border-left : 1px solid #ddd;
    margin-right : 5em;
}

.韻母 table {
    text-align : center;
}

td.dummy {
    height : 1.5em;
    width : 0;
    border : none;
    padding : 0;
}

th, td {
    border-bottom : 1px solid #ccc;
    border-right : 1px solid #ccc;
    padding : 0.25em 0.5em;
}

.table-container {
    display : flex;
    flex-direction : row;
}

.越摂 {
    color : gray;
}

.my-active {
    background-color : #bfe4ff;
}
